.container{
    display: grid;
    grid-template-columns: 250px auto 350px;
    grid-template-rows: 200px 450px auto;
    grid-template-areas:
    "esquerda topo direita"
    "esquerda feed direita"
    ". feed direita"
}
.aba_esquerda{
    grid-area: esquerda;
    background: lightblue;
    border-radius: 30px;
}
.aba_direita{
    grid-area: direita;
    background: lightblue;
    border-radius: 30px;
}
.topo{
    grid-area: topo;
    background: rgb(98, 141, 155);
    border-radius: 30px;
}
.feed{
    grid-area: feed;
    background: rgb(255, 255, 255);
}

#logo{
    height: 75px;
    width: 95px;
    padding-top: 50px;
    padding-left: 40px;
}

.lista_opcoes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    justify-self: start;
    list-style-type: none;
}

li{
    margin-top: 20px;
}

#tweetButton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 110, 255);
    box-shadow: 1px 2px 10px black;
}